<!DOCTYPE html>
<html>
<head>
    <title>Project Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="ui blue inverted menu">
        <div class="header item">
            <strong>Project Tracker <i style="font-size: 1.2em;" class="tasks icon"></i></strong>
        </div>
        <a class="item @(ViewBag.menu == "Dashboard"?"active":"")"" href="@Url.Action("Index", "Home")">Dashboard</a>
        <a class="item @(ViewBag.menu == "Projects"?"active":"")" href="@Url.Action("Projects", "Home")">Projects</a>
        <div class="ui dropdown item">
            Settings
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item @(ViewBag.menu == "Stages"?"active":"")" href="@Url.Action("Stages", "Home")">Stages</a>
                <a class="item @(ViewBag.menu == "Checkpoints"?"active":"")" href="@Url.Action("Checkpoints", "Home")">Checkpoints</a>
                <a class="item @(ViewBag.menu == "Campus"?"active":"")" href="@Url.Action("Campus", "Home")">Campus</a>
                <a class="item @(ViewBag.menu == "Category"?"active":"")" href="@Url.Action("Category", "Home")">Category</a>
                <a class="item @(ViewBag.menu == "Status"?"active":"")" href="@Url.Action("Status", "Home")">Status</a>
            </div>
        </div>
        <div class="right menu">
            <a class="ui item" href="@Url.Action("Bye", "Login")">Logout</a>
        </div>
    </div>

    @RenderBody()
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
    <div class="ui basic modal timeout">
       <div class="ui icon header">
          <i class="bullhorn icon"></i>
          Inactivity Detected
       </div>
       <div class="content">
          <p>We have detected inactivity and we are closing the session for security reasons. Are you still there?</p>
       </div>
       <div class="actions">
          <button class="ui green ok inverted button">
             <i class="checkmark icon"></i>
              Yes
          </button>
       </div>
   </div>
</body>
</html>
